*.pyc
*.png
*.csv
*.html

csadt_python/Training-*.txt
csadt_python/conditions-*.txt
csadt_python/ComparisonRecords-*.txt

boost_tests/test1
boost_tests/test2
csadt_cpp/generate-conditions/generate-conditions
csadt_cpp/generate-unique-pairs/generate-unique-pairs
csadt_cpp/generate-input/generate-input
csadt_cpp/adt/adt

csadt_python/Training.txt
csadt_python/ComparisonRecords.txt
csadt_python/Tree.txt

csadt_cpp/generate-unique-pairs/UniqueCombinations.txt
csadt_cpp/generate-input/UniqueCombinations.txt
csadt_cpp/generate-input/ADT_ready.txt
csadt_cpp/generate-conditions/ADT_ready.txt

csadt_cpp/adt/ADT_ready.txt
csadt_cpp/adt/Tree.txt
csadt_cpp/TreeCPPReady.txt
